{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section card="card card-body">
        <h1 class="display-1 text-center">Gleaming - Excellent</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, nisi? Id vero suscipit eum? Tenetur officia vero iusto quibusdam reprehenderit officiis ducimus ab voluptates natus, ut veniam, esse id, delectus commodi eveniet in voluptatibus aut sint doloremque aliquam tempora ipsum. Quod exercitationem provident vel praesentium tempore impedit rerum? Consequatur unde cum accusantium veritatis voluptatem atque illum ipsum eaque cumque, nihil ratione magnam explicabo reprehenderit incidunt, porro voluptas cupiditate! Reiciendis expedita dolorem dignissimos aliquam enim facere ipsam repudiandae ratione, iusto excepturi debitis necessitatibus! Impedit, architecto! Quod eius cupiditate nulla quos illo recusandae, accusantium, ab mollitia dolore rem dolores ea quia iure?</p>
    
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signing
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}